h2#about-observables Введение в потоки (Streams) и свойства (Properties)

p.
  Kefir поддерживает два типа observables — streams и properties.
  Потоки представляют собой последовательности событий, которые становятся
  доступными с течением времени. А свойства представляют собой значения,
  которые меняются во времени. Значение свойства изменяется в ответ на события, 
  что означает, что любой поток можно легко преобразовать в свойство.

figure
  img(src='docs-src/images/stream-and-property.png')

p.
  На практике единственная разница между двумя типами observables состоит в том, 
  что свойства могут иметь текущее значение.
  Процесс подписки на оба типа observables одинаков: вы вызываете метод #[a(href='#on-value') onValue], 
  передавая ему функцию обратного вызова.
  Но когда вы подписываетесь на свойство, которое имеет текущее значение, обратный вызов
  вызывается немедленно (синхронно) с текущим значением свойства.
