h2#emitter-object Эмиттер

p.
  это объект, у которого есть четыре метода для генерации событий. Он используется 
  в нескольких местах в Kefir в качестве прокси для генерации событий из некоторых наблюдаемых.

ul
  li #[tt emitter.value(value)] выдает значение в подключенном observable
  li #[tt emitter.error(error)] выдает ошибку в подключенном observable
  li #[tt emitter.end()] завершает связанный observable
  li #[tt emitter.event(event)] излучает событие (объект с тем же форматом, что и в методе #[a(href='#on-any') onAny] ) в подключенном observable

pre.javascript(title='example')
  :escapehtml
    emitter.value(123);
    emitter.error('Oh, snap!');
    emitter.end();
div

p.
  Все методы #[b emitter] привязаны к своему контексту и могут безопасно передаваться
  как обратные вызовы без привязки:

pre.javascript
  :escapehtml
    // вместо этого:
    el.addEventListener('click', emitter.value.bind(emitter));

    // вы можете делать так:
    el.addEventListener('click', emitter.value);
div

p.
  Существуют также устаревшие псевдонимы для методов #[b эмиттера]:

ul
  li #[tt emitter.emit === emitter.value]
  li #[tt emitter.emitEvent === emitter.event]
