h1
  | <img src="Kefir.svg" class="logo-img"> Kefir.js
  = " "
  sup #{pkg.version} (<a href="https://github.com/kefirjs/kefir/blob/master/changelog.md">changelog</a>)

p.
  Kefir &mdash; это библиотека реактивного программирования
  для JavaScript по мотивам
  <a href="https://github.com/baconjs/bacon.js">Bacon.js</a>
  и
  <a href="http://reactivex.io/rxjs/">RxJS</a>,
  с фокусом на высокую производительность и  низкое потребление памяти.


p.
  Kefir имеет
  <a href="https://github.com/kefirjs/kefir">
    <img data-emoji="octocat"> GitHub репозиторий</a>, где вы можете
  <a href="https://github.com/kefirjs/kefir/pulls">посылать пулл-реквесты</a>,
  <a href="https://github.com/kefirjs/kefir/issues">баг-репортить</a>,
  и почитать интересности
  <a href="https://github.com/kefirjs/kefir/tree/master/src">исходный код</a>.

p.
  See also
  #[a(href='https://github.com/kefirjs/kefir/blob/master/deprecated-api-docs.md') Устаревшее API docs].


h2#installation Установка

p.
  Kefir доступен как NPM и Bower пакет, и как одиночный загружаемый файл.

h3#npm NPM

pre.
  npm install kefir

h3#bower Bower

pre.
  bower install kefir

h3#downloads Загрузка <sup>(#{pkg.version})</sup>

table
  tr
    th(rowspan="1" valign="top") Для разработки
    td: a(href='dist/kefir.js') kefir.js
    td: i ~ 100 KB
  tr
    th(rowspan="1" valign="top") Для продакшн
    td: a(href='dist/kefir.min.js') kefir.min.js
    td: i ~ 10 KB (если gzipped)

  tr
    td.rule(colspan="3")
  tr
    th Все файлы
    td: a(href='https://github.com/kefirjs/kefir/archive/' + pkg.version + '.zip') kefir-#{pkg.version}.zip
    td ... включая документацию, тесты, исходные maps, и т.п.

p.
  Kefir также лоступен на #[a(href='http://www.jsdelivr.com/#!kefir') jsDelivr].
